@(content: String)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>@content</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Venue - Responsive HTML5 Template">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="@routes.Assets.versioned("img/favicon.png")" rel="icon" type="image/png" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,800,900" rel="stylesheet" type="text/css">

            <!-- Libs CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/font-awesome.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/v-nav-menu.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/v-animation.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/v-bg-stylish.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/v-shortcodes.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/theme-responsive.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("plugins/owl-carousel/owl.theme.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("plugins/owl-carousel/owl.carousel.css")"/>

            <!-- Current Page CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("plugins/rs-plugin/css/settings.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("plugins/rs-plugin/css/custom-captions.css")"/>

            <!-- Custom CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/custom.css")"/>


    </head>

    <body class="no-page-top">

            <!--Header-->
            <!--Set your own background color to the header-->
        <header class="semi-transparent-header" data-bg-color="rgba(9, 103, 139, 0.36)" data-font-color="#fff">
            <div class="container">

                    <!--Site Logo-->
                <div class="logo" data-sticky-logo="" data-normal-logo="">
                    <a href="index.html">
                        <img src="" data-logo-height="35">
                    </a>
                </div>
                    <!--End Site Logo-->

                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </header>
            <!--End Header-->

        <div id="container">

                <!--Set your own slider options. Look at the v_RevolutionSlider() function in 'theme-core.js' file to see options-->
            <div class="home-slider-wrap fullwidthbanner-container" id="home">
                <div class="v-rev-slider" data-slider-options='{ "startheight": 700 }'>
                    <ul>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="600">

                            <img src="@routes.Assets.versioned("img/slider/slider5.jpg")" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <div class="tp-caption v-caption-big-white sfl stl"
                            data-x="450"
                            data-y="245"
                            data-speed="600"
                            data-start="600"
                            data-easing="Power1.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0"
                            data-endelementdelay="0"
                            data-endspeed="300">
                                THE LAST TEMPLATE
                                <br />
                                YOU'LL HAVE TO BUY
                            </div>

                            <div class="tp-caption v-caption-h1 sfl stl"
                            data-x="450"
                            data-y="360"
                            data-speed="700"
                            data-start="1200"
                            data-easing="Power1.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0"
                            data-endelementdelay="0"
                            data-endspeed="300">
                                Built on cutting edge technology.<br>
                                Create modern design using Venue.
                            </div>

                            <div class="tp-caption sfl stl"
                            data-x="450"
                            data-y="450"
                            data-speed="600"
                            data-start="1800"
                            data-easing="Power1.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0"
                            data-endelementdelay="0"
                            data-endspeed="300">
                                <a href='#' class="btn v-btn v-second-light">GET IT NOW!</a>
                            </div>

                            <div class="tp-caption sfl stl"
                            data-x="605"
                            data-y="450"
                            data-speed="600"
                            data-start="2200"
                            data-easing="Power1.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0"
                            data-endelementdelay="0"
                            data-endspeed="300">
                                <a href='#' class="btn v-btn v-second-light">FIND OUT MORE</a>
                            </div>

                            <div class="tp-caption sfl stl"
                            data-x="110"
                            data-y="130"
                            data-speed="600"
                            data-start="1800"
                            data-easing="Power1.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0"
                            data-endelementdelay="0"
                            data-endspeed="300">
                                    <!--<a href='#' class="btn v-btn v-third-light">GET IT NOW!</a>-->
                                <img src="@routes.Assets.versioned("img/iphone2.png")" />
                            </div>



                                <!--<div class="v-slider-overlay overlay-colored"></div>-->
                        </li>
                    </ul>
                </div>

                <div class="shadow-right"></div>
            </div>

            <div style="padding:0px; margin:0px; background-color:#fff;font-family:helvetica, arial, verdana, sans-serif">
                <script type="text/javascript">
                jQuery(document).ready(function ($) {

                var jssor_1_SlideoTransitions = [
                [{b:-1,d:1,o:-1},{b:0,d:1000,o:1}],
                [{b:1900,d:2000,x:-379,e:{x:7}}],
                [{b:1900,d:2000,x:-379,e:{x:7}}],
                [{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:1000,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:1900,d:1600,x:-200,o:-1,e:{x:16}}]
                ];

                var jssor_1_options = {
                $AutoPlay: true,
                $SlideDuration: 800,
                $SlideEasing: $Jease$.$OutQuint,
                $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
                },
                $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
                },
                $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
                }
                };

                var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

                /*responsive code begin*/
                /*you can remove responsive code if you don't want the slider scales while window resizing*/
                function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                refSize = Math.min(refSize, 1920);
                jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                window.setTimeout(ScaleSlider, 30);
                }
                }
                ScaleSlider();
                $(window).bind("load", ScaleSlider);
                $(window).bind("resize", ScaleSlider);
                $(window).bind("orientationchange", ScaleSlider);
                /*responsive code end*/
                });
                </script>
                <style>
                /* jssor slider bullet navigator skin 05 css */
                /*
                .jssorb05 div           (normal)
                .jssorb05 div:hover     (normal mouseover)
                .jssorb05 .av           (active)
                .jssorb05 .av:hover     (active mouseover)
                .jssorb05 .dn           (mousedown)
                */
                .jssorb05 {
                position: absolute;
                }
                .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
                position: absolute;
                /* size of bullet elment */
                width: 16px;
                height: 16px;
                background: url('img/b05.png') no-repeat;
                overflow: hidden;
                cursor: pointer;
                }
                .jssorb05 div { background-position: -7px -7px; }
                .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
                .jssorb05 .av { background-position: -67px -7px; }
                .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

                /* jssor slider arrow navigator skin 22 css */
                /*
                .jssora22l                  (normal)
                .jssora22r                  (normal)
                .jssora22l:hover            (normal mouseover)
                .jssora22r:hover            (normal mouseover)
                .jssora22l.jssora22ldn      (mousedown)
                .jssora22r.jssora22rdn      (mousedown)
                .jssora22l.jssora22lds      (disabled)
                .jssora22r.jssora22rds      (disabled)
                */
                .jssora22l, .jssora22r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 40px;
                height: 58px;
                cursor: pointer;
                background: url('img/a22.png') center center no-repeat;
                overflow: hidden;
                }
                .jssora22l { background-position: -10px -31px; }
                .jssora22r { background-position: -70px -31px; }
                .jssora22l:hover { background-position: -130px -31px; }
                .jssora22r:hover { background-position: -190px -31px; }
                .jssora22l.jssora22ldn { background-position: -250px -31px; }
                .jssora22r.jssora22rdn { background-position: -310px -31px; }
                .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
                .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }
                </style>
                <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
                        <!-- Loading Screen -->
                    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                        <div style="position:absolute;display:block;background:url(@routes.Assets.versioned("img/loading.gif")) no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                    </div>
                    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
                        <div data-p="225.00">
                            <img data-u="image" src="@routes.Assets.versioned("img/red.jpg")" />
                            <div style="position: absolute; top: 30px; left: 30px; width: 480px; height: 120px; font-size: 50px; color: #ffffff; line-height: 60px;">TOUCH SWIPE SLIDER</div>
                            <div style="position: absolute; top: 300px; left: 30px; width: 480px; height: 120px; font-size: 30px; color: #ffffff; line-height: 38px;">Build your slider with anything, includes image, content, text, html, photo, picture</div>
                            <div data-u="caption" data-t="0" style="position: absolute; top: 120px; left: 650px; width: 470px; height: 220px;">
                                <img style="position: absolute; top: 0px; left: 0px; width: 470px; height: 220px;" src="@routes.Assets.versioned("img/c-phone-horizontal.png")" />
                                <div style="position: absolute; top: 4px; left: 45px; width: 379px; height: 213px; overflow: hidden;">
                                    <img data-u="caption" data-t="1" style="position: absolute; top: 0px; left: 0px; width: 379px; height: 213px;" src="@routes.Assets.versioned("img/c-slide-1.jpg")" />
                                    <img data-u="caption" data-t="2" style="position: absolute; top: 0px; left: 379px; width: 379px; height: 213px;" src="@routes.Assets.versioned("img/c-slide-3.jpg")" />
                                </div>
                                <img style="position: absolute; top: 4px; left: 45px; width: 379px; height: 213px;" src="@routes.Assets.versioned("img/c-navigator-horizontal.png")" />
                                <img data-u="caption" data-t="3" style="position: absolute; top: 740px; left: 1600px; width: 257px; height: 300px;" src="@routes.Assets.versioned("img/c-finger-pointing.png")" />
                            </div>
                        </div>
                        <a data-u="any" href="http://www.jssor.com" style="display:none">Full Width Slider</a>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="@routes.Assets.versioned("img/purple.jpg")" />
                        </div>
                        <div data-p="225.00" data-po="80% 55%" style="display: none;">
                            <img data-u="image" src="@routes.Assets.versioned("img/blue.jpg")" />
                        </div>
                    </div>
                        <!-- Bullet Navigator -->
                    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
                            <!-- bullet navigator item prototype -->
                        <div data-u="prototype" style="width:16px;height:16px;"></div>
                    </div>
                        <!-- Arrow Navigator -->
                    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
                    <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span>
                </div>
                    <!-- #endregion Jssor Slider End -->
            </div>

            <div class="v-page-wrap no-bottom-spacing">

                <div class="container">
                    <div class="v-spacer col-sm-12 v-height-small"></div>
                </div>

                    <!--Features-->
                <div class="container" id="features">

                    <div class="row center">

                        <div class="col-sm-12">
                            <p class="v-smash-text-large-2x">
                                <span>Amazing Features</span>
                            </p>
                            <div class="horizontal-break"></div>
                            <p class="lead" style="color: #999;">
                                Responsive &amp; optimized for mobile devices.<br>
                                Completely without coding skills!
                            </p>
                        </div>
                        <div class="v-spacer col-sm-12 v-height-standard"></div>
                    </div>

                    <div class="row features">

                        <div class="col-md-4 col-sm-4">
                            <div class="feature-box left-icon v-animation pull-top" data-animation="fade-from-left" data-delay="300">
                                <div class="feature-box-icon small">
                                    <i class="fa fa-laptop v-icon"></i>
                                </div>
                                <div class="feature-box-text">
                                    <h3>Super Design Layout</h3>
                                    <div class="feature-box-text-inner">
                                        Class aptent taciti sociosqu ad litora torquent
                                        per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.
                                    </div>
                                </div>
                            </div>

                            <div class="v-spacer col-sm-12 v-height-standard"></div>

                            <div class="feature-box left-icon v-animation" data-animation="fade-from-left" data-delay="600">
                                <div class="feature-box-icon small">
                                    <i class="fa fa-vimeo-square v-icon"></i>
                                </div>
                                <div class="feature-box-text">
                                    <h3>Retina Graphic Display</h3>
                                    <div class="feature-box-text-inner">
                                        Class aptent taciti sociosqu ad litora torquent per
                                        conubia nostra, per inceptos himenaeos nulla nunc duil.
                                    </div>
                                </div>
                            </div>

                            <div class="v-spacer col-sm-12 v-height-standard"></div>

                            <div class="feature-box left-icon v-animation" data-animation="fade-from-left" data-delay="900">
                                <div class="feature-box-icon small">
                                    <i class="fa fa-cloud-download v-icon"></i>
                                </div>
                                <div class="feature-box-text">
                                    <h3>Regular Updates & Support</h3>
                                    <div class="feature-box-text-inner">
                                        Class aptent taciti sociosqu ad litora torquent per
                                        conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <img class="img-responsive phone-image v-animation" data-animation="fade-from-bottom" data-delay="250" src="@routes.Assets.versioned("img/landing/single-iphone.png")" />
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="feature-box left-icon v-animation pull-top" data-animation="fade-from-right" data-delay="300">
                                <div class="feature-box-icon small">
                                    <i class="fa fa-tablet v-icon"></i>
                                </div>
                                <div class="feature-box-text">
                                    <h3>Responsive Web Design</h3>
                                    <div class="feature-box-text-inner">
                                        Class aptent taciti sociosqu ad litora torquent per
                                        conubia nostra, per inceptos himenaeos nulla nunc dui.
                                    </div>
                                </div>
                            </div>

                            <div class="v-spacer col-sm-12 v-height-standard"></div>

                            <div class="feature-box left-icon v-animation" data-animation="fade-from-right" data-delay="600">
                                <div class="feature-box-icon small">
                                    <i class="fa fa-lightbulb-o v-icon"></i>
                                </div>
                                <div class="feature-box-text">
                                    <h3>Aweosme Design Layout</h3>
                                    <div class="feature-box-text-inner">
                                        Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                        per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.<br />
                                    </div>
                                </div>
                            </div>

                            <div class="v-spacer col-sm-12 v-height-standard"></div>

                            <div class="feature-box left-icon v-animation" data-animation="fade-from-right" data-delay="900">
                                <div class="feature-box-icon small">
                                    <i class="fa fa-google-plus v-icon"></i>
                                </div>
                                <div class="feature-box-text">
                                    <h3>Social Media Friendly</h3>
                                    <div class="feature-box-text-inner">
                                        Class aptent taciti sociosqu ad litora torquent per
                                        conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Features-->

                <div class="container">
                    <div class="v-spacer col-sm-12 v-height-standard"></div>
                </div>

                    <!--Why Us-->
                <div class="v-parallax v-bg-stylish v-bg-stylish-v4 no-shadow" id="why-us">
                    <div class="container">
                        <div class="row app-brief">
                            <div class="col-sm-6">
                                <img class="img-responsive phone-image v-animation" data-animation="fade-from-left" data-delay="250" src="@routes.Assets.versioned("img/landing/2-iphone-left.png")" />
                            </div>

                            <div class="col-sm-6">
                                <p class="v-smash-text-large-2x pull-top">
                                    <span>Explain why it's best</span>
                                </p>
                                <div class="horizontal-break left"></div>
                                <p class="v-lead">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.
                                </p>

                                <div class="v-spacer col-sm-12 v-height-small"></div>

                                <ul class="v-list-v2">
                                    <li class="v-animation" data-animation="fade-from-right" data-delay="150"><i class="fa fa-check"></i><span class="v-lead">Simple & with endless possibilties.</span></li>
                                    <li class="v-animation" data-animation="fade-from-right" data-delay="300"><i class="fa fa-check"></i><span class="v-lead">Everything is perfectly orgainized for future.</span></li>
                                    <li class="v-animation" data-animation="fade-from-right" data-delay="450"><i class="fa fa-check"></i><span class="v-lead">Sliders give you the opportunity to showcase.</span></li>
                                    <li class="v-animation" data-animation="fade-from-right" data-delay="600"><i class="fa fa-check"></i><span class="v-lead">Multiple layout for home pages, portfolio & blog.</span></li>
                                    <li class="v-animation" data-animation="fade-from-right" data-delay="750"><i class="fa fa-check"></i><span class="v-lead">The best way to grow your business</span></li>
                                    <li class="v-animation" data-animation="fade-from-right" data-delay="900"><i class="fa fa-check"></i><span class="v-lead">Lorem ipsum dolor sit amet, consectetur.</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Why Us-->

                    <!--Describe-->
                <div class="v-parallax v-bg-stylish" id="describe">
                    <div class="container">
                        <div class="row app-brief">
                            <div class="col-sm-6">
                                <p class="v-smash-text-large-2x pull-top">
                                    <span>Great way to describe your app</span>
                                </p>
                                <div class="horizontal-break left"></div>
                                <p class="v-lead">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>

                                <p class="v-lead">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>

                            <div class="col-sm-6">
                                <img class="img-responsive phone-image v-animation" data-animation="fade-from-right" data-delay="300" src="@routes.Assets.versioned("img/landing/2-iphone-right.png")" />
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Describe-->

                    <!--Services-->
                <div class="v-parallax v-parallax-video v-bg-stylish" id="services" style="background-image: url(img/slider/slider4.jpg);">
                    <div class="container">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="feature-box feature-box-secundary-one v-animation" data-animation="grow" data-delay="0">
                                    <div class="feature-box-icon small">
                                        <i class="fa fa-laptop v-icon"></i>
                                    </div>
                                    <div class="feature-box-text clearfix">
                                        <h3>Incredibly Responsive</h3>
                                        <div class="feature-box-text-inner">
                                            <p>
                                                Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                                per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.
                                            </p>

                                            <a href="#" class="read-more">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="feature-box feature-box-secundary-one v-animation" data-animation="grow" data-delay="200">
                                    <div class="feature-box-icon small">
                                        <i class="fa fa-leaf v-icon"></i>
                                    </div>
                                    <div class="feature-box-text">
                                        <h3>Fully Customizible</h3>
                                        <div class="feature-box-text-inner">
                                            <p>
                                                Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                                per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.<br />
                                            </p>
                                            <a href="#" class="read-more">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="feature-box feature-box-secundary-one v-animation" data-animation="grow" data-delay="400">
                                    <div class="feature-box-icon small">
                                        <i class="fa fa-scissors v-icon"></i>
                                    </div>
                                    <div class="feature-box-text">
                                        <h3>Interactive Elements</h3>
                                        <div class="feature-box-text-inner">
                                            <p>
                                                Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                                per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.<br />
                                            </p>
                                            <a href="#" class="read-more">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="v-bg-overlay overlay-colored"></div>
                        </div>
                    </div>
                </div>
                    <!--End Services-->

                <div class="container">
                    <div class="v-spacer col-sm-12 v-height-big"></div>
                </div>

                <div class="container">
                    <div class="row center v-counter-wrap">
                        <div class="col-sm-3">
                            <i class="fa fa-building v-icon icn-holder"></i>
                            <div class="v-counter">
                                <div class="count-number" data-from="0" data-to="6218" data-speed="1000" data-refresh-interval="25"></div>
                                <div class="count-divider"><span></span></div>
                                <h6 class="v-counter-text">Line Of Code Written</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <i class="fa fa-flash v-icon icn-holder"></i>
                            <div class="v-counter">
                                <div class="count-number" data-from="0" data-to="1448" data-speed="1500" data-refresh-interval="25"></div>
                                <div class="count-divider"><span></span></div>
                                <h6 class="v-counter-text">Cups Of Coffee</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <i class="fa fa-laptop v-icon icn-holder"></i>
                            <div class="v-counter">
                                <div class="count-number" data-from="0" data-to="2650" data-speed="2000" data-refresh-interval="25"></div>
                                <div class="count-divider"><span></span></div>
                                <h6 class="v-counter-text">Fineshed Projects</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <i class="fa fa-umbrella v-icon icn-holder"></i>
                            <div class="v-counter">
                                <div class="count-number" data-from="0" data-to="5265" data-speed="2500" data-refresh-interval="25"></div>
                                <div class="count-divider"><span></span></div>
                                <h6 class="v-counter-text">Lorem Input Amet</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="v-spacer col-sm-12 v-height-standard"></div>
                </div>

                    <!--Screenshots-->
                <div class="v-parallax v-bg-stylish v-bg-stylish-v4 no-shadow" id="screenshots">
                    <div class="container">
                        <div class="row center">
                            <div class="col-sm-12">
                                <p class="v-smash-text-large-2x">
                                    <span>Screenshots</span>
                                </p>
                                <div class="horizontal-break"></div>
                                <p class="lead" style="color: #999;">
                                    Responsive & optimized for mobile devices.
                                </p>
                            </div>
                            <div class="v-spacer col-sm-12 v-height-standard"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">

                                <div class="carousel-wrap">

                                    <div class="owl-carousel" data-plugin-options='{"items": 4, "singleItem": false, "pagination": true}'>
                                        <div class="item">
                                            <figure class="lightbox animated-overlay overlay-alt clearfix">
                                                <img src="@routes.Assets.versioned("img/landing/1.jpg")" class="attachment-full">
                                                <a class="view" href="@routes.Assets.versioned("img/landing/1.jpg")" rel="image-gallery"></a>
                                                <figcaption>
                                                    <div class="thumb-info">
                                                        <h4>Lorem ipsum dolor sit amet.</h4>
                                                        <i class="fa fa-eye"></i>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <div class="item">
                                            <figure class="lightbox animated-overlay overlay-alt clearfix">
                                                <img src="@routes.Assets.versioned("img/landing/2.jpg")" class="attachment-full">
                                                <a class="view" href="@routes.Assets.versioned("img/landing/2.jpg")" rel="image-gallery"></a>
                                                <figcaption>
                                                    <div class="thumb-info">
                                                        <h4>Lorem ipsum dolor sit amet.</h4>
                                                        <i class="fa fa-eye"></i>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <div class="item">
                                            <figure class="lightbox animated-overlay overlay-alt clearfix">
                                                <img src="@routes.Assets.versioned("img/landing/3.jpg")" class="attachment-full">
                                                <a class="view" href="@routes.Assets.versioned("img/landing/3.jpg")" rel="image-gallery"></a>
                                                <figcaption>
                                                    <div class="thumb-info">
                                                        <h4>Lorem ipsum dolor sit amet.</h4>
                                                        <i class="fa fa-eye"></i>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <div class="item">
                                            <figure class="lightbox animated-overlay overlay-alt clearfix">
                                                <img src="@routes.Assets.versioned("img/landing/4.jpg")" class="attachment-full">
                                                <a class="view" href="@routes.Assets.versioned("img/landing/4.jpg")" rel="image-gallery"></a>
                                                <figcaption>
                                                    <div class="thumb-info">
                                                        <h4>Lorem ipsum dolor sit amet.</h4>
                                                        <i class="fa fa-eye"></i>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <div class="item">
                                            <figure class="lightbox animated-overlay overlay-alt clearfix">
                                                <img src="@routes.Assets.versioned("img/landing/1.jpg")" class="attachment-full">
                                                <a class="view" href="@routes.Assets.versioned("img/landing/1.jpg")" rel="image-gallery"></a>
                                                <figcaption>
                                                    <div class="thumb-info">
                                                        <h4>Lorem ipsum dolor sit amet.</h4>
                                                        <i class="fa fa-eye"></i>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <div class="item">
                                            <figure class="lightbox animated-overlay overlay-alt clearfix">
                                                <img src="@routes.Assets.versioned("img/landing/2.jpg")" class="attachment-full">
                                                <a class="view" href="@routes.Assets.versioned("img/landing/2.jpg")" rel="image-gallery"></a>
                                                <figcaption>
                                                    <div class="thumb-info">
                                                        <h4>Lorem ipsum dolor sit amet.</h4>
                                                        <i class="fa fa-eye"></i>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Screenshots-->

                    <!--Download-->
                <div class="v-parallax v-bg-stylish v-bg-stylish-v10" id="download" style="background-image: url(@routes.Assets.versioned("img/slider/slider4.jpg"));">

                    <div class="container">
                        <div class="row center">

                            <div class="col-sm-12">

                                <div class="v-content-wrapper">
                                    <p class="v-smash-text-large-2x">
                                        <span>See our projects on</span>
                                    </p>

                                    <div class="v-spacer col-sm-12 v-height-standard"></div>

                                    <div id="intro_stores">
                                        <a href="#">
                                            <img src="@routes.Assets.versioned("img/landing/appstore.png")" alt="appstore_icon"></a>
                                        <a href="#">
                                            <img src="@routes.Assets.versioned("img/landing/google.png")" alt="google_icon"></a>
                                    </div>
                                    <div class="v-spacer col-sm-12 v-height-big"></div>
                                </div>
                            </div>
                            <div class="v-bg-overlay overlay-colored"></div>
                        </div>
                    </div>
                </div>
                    <!--End Download-->

                    <!--Call Us-->
                <div class="v-parallax v-bg-stylish" id="contact-us">
                    <div class="container">
                        <div class="row center">
                            <div class="col-sm-8 col-sm-offset-2">
                                <p class="v-smash-text-large-2x">
                                    <span>Contact us </span>
                                </p>
                                <div class="horizontal-break"></div>

                                <div class="v-spacer col-sm-12 v-height-small"></div>

                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label>Your name <span class="required">*</span></label>
                                                <input type="text" value="" maxlength="100" class="form-control" name="name" id="name">
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Your email address <span class="required">*</span></label>
                                                <input type="email" value="" maxlength="100" class="form-control" name="email" id="email1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>Comment <span class="required">*</span></label>
                                                <textarea maxlength="5000" rows="10" class="form-control" name="comment" id="Textarea1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <br />
                                            <button name="submit" type="submit" id="sendmesage" class="btn v-btn no-three-d">Send Message</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div class="row">
                            <div class="v-spacer col-sm-12 v-height-small"></div>
                        </div>

                        <div class="row center">
                            <ul class="social-icons large center">
                                <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i><i class="fa fa-facebook"></i></a></li>
                                <li class="skype"><a href="skype:#" target="_blank"><i class="fa fa-skype"></i><i class="fa fa-skype"></i></a></li>
                                <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i><i class="fa fa-linkedin"></i></a></li>
                                <li class="googleplus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <!--End Call Us-->
            </div>

                <!--Footer-Wrap-->
            <div class="footer-wrap">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <section class="widget">
                                    <div class="widget-heading">
                                        <h4>Contact Us</h4>
                                    </div>
                                    <div class="footer-contact-info">
                                        <ul>
                                            <li>
                                                <p><i class="fa fa-building"></i>Ognev Co. Team </p>
                                            </li>
                                            <li>
                                                <p><i class="fa fa-map-marker"></i>Uzbekistan, Tashkent city, A.Temur 108 </p>
                                            </li>
                                            <li>
                                                <p><i class="fa fa-enveloper"></i>zair407gmail.com </p>
                                            </li>
                                            <li>
                                                <p><i class="fa fa-phone"></i><strong>Phone:</strong> (+998) 90 9159324</p>
                                            </li>
                                        </ul>
                                        <br />

                                        <ul class="social-icons standard">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i><i class="fa fa-facebook"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i><i class="fa fa-linkedin"></i></a></li>
                                            <li class="skype"><a href="#" target="_blank"><i class="fa fa-skype"></i><i class="fa fa-skype"></i></a></li>
                                            <li class="googleplus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>

                            <!-- Our Projects -->

                            <div class="col-sm-3">
                                <section class="widget">
                                    <div class="widget-heading">
                                        <h4>Recent Works</h4>
                                    </div>
                                    <ul class="portfolio-grid">
                                        <li>
                                            <a href="portfolio-single.html" class="grid-img-wrap">
                                                <img src="@routes.Assets.versioned("img/thumbs/project-1.jpg")" />
                                                <span class="tooltip">Phasellus enim libero<span class="arrow"></span></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="portfolio-single.html" class="grid-img-wrap">
                                                <img src="@routes.Assets.versioned("img/thumbs/project-2.jpg")" />
                                                <span class="tooltip">Phasellus enim libero<span class="arrow"></span></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="portfolio-single.html" class="grid-img-wrap">
                                                <img src="@routes.Assets.versioned("img/thumbs/project-3.jpg")" />
                                                <span class="tooltip">Phasellus enim<span class="arrow"></span></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="portfolio-single.html" class="grid-img-wrap">
                                                <img src="@routes.Assets.versioned("img/thumbs/project-4.png")" />
                                                <span class="tooltip">Lorem Imput<span class="arrow"></span></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="portfolio-single.html" class="grid-img-wrap">
                                                <img src="@routes.Assets.versioned("img/thumbs/project-5.jpg")" />
                                                <span class="tooltip">Phasellus Enim libero<span class="arrow"></span></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="portfolio-single.html" class="grid-img-wrap">
                                                <img src="@routes.Assets.versioned("img/thumbs/project-6.jpg")" />
                                                <span class="tooltip">Phasellus Enim<span class="arrow"></span></span>
                                            </a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </footer>

                <div class="copyright">
                    <div class="container">
                        <p>© Copyright 2016 by Ognev Co. Team | All Rights Reserved.</p>
                    </div>
                </div>
            </div>
                <!--End Footer-Wrap-->
        </div>

            <!--// BACK TO TOP //-->
        <div id="back-to-top" class="animate-top"><i class="fa fa-angle-up"></i></div>

            <!-- Libs -->
        <script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.flexslider-min.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.easing.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.fitvids.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.carouFredSel.min.js")"></script>
        <script src="@routes.Assets.versioned("js/theme-plugins.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.isotope.min.js")"></script>
        <script src="@routes.Assets.versioned("js/imagesloaded.js")"></script>
        <script src="@routes.Assets.versioned("js/view.min.js?auto\"")"></script>
        <script src="@routes.Assets.versioned("plugins/rs-plugin/js/jquery.themepunch.tools.min.js")"></script>
        <script src="@routes.Assets.versioned("plugins/rs-plugin/js/jquery.themepunch.revolution.min.js")"></script>
        <script src="@routes.Assets.versioned("js/theme-core.js")"></script>

        <script src="@routes.Assets.versioned("js2/jquery-1.11.3.min.js")"></script>
        <script src="@routes.Assets.versioned("js2/jssor.slider-21.1.6.mini.js")"></script>

    </body>
</html>
